@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 4, 38);
    background-image: url(assets/starwars_img.jpg);
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    backdrop-filter: contrast(300%) brightness(80%);
    font-family: 'Poller One', serif;
    
}
.contentWrapper{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    animation: shadowAnimation 1s linear infinite;
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0px 4px 4px 0px rgb(255, 0, 115);
    }
    25% {
        box-shadow: -4px 0px 4px 0px rgb(238, 0, 255);
    }
    50% {
        box-shadow: 1px -4px 4px 0px rgb(34, 0, 255);
    }
    75% {
        box-shadow: 5px 0px 4px 0px rgb(0, 153, 255);
    }
    100% {
        box-shadow: 0px 4px 4px 0px rgb(255, 0, 115);
    }
}

.buttonSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.135);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.buttons{
    width: 85%;
    border-radius: 1rem;
    height: 7%;
    background-color: rgb(41, 41, 41);
    color: yellow;
    font-family: 'Poller One', serif;
    font-size: 2rem;
    transition-duration:200ms;
    
}
.buttons:hover{
    transform: scale(1.1);
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 10px 8px rgb(22, 8, 69);
    background: rgb(41, 41, 41) linear-gradient(to right, rgb(89, 0, 255) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: slide 0.3s ease-in-out forwards,  pulse 0.8s ease-in-out infinite 0.5s;
}

@keyframes slide {
    to {
      background-position: left bottom;
    }
}
@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.80;
    }
}

.pageButtonWrapper{
    height: 5rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: black;
    border-radius: 2rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.previousButton{
    width: 50%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-size: 2rem;
    background-color: rgb(41, 41, 41);
    color: yellow;
    font-family: 'Poller One', serif;
    transition-duration:200ms;
}
.previousButton:hover{
    transform: scale(1.1);
    transition: 100ms ease-in-out;
    
}
.nextButton{
    width: 50%;
    height: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2rem;
    background-color: rgb(41, 41, 41);
    color: yellow;
    font-family: 'Poller One', serif;
    transition-duration:200ms;
}
.nextButton:hover{
    transform: scale(1.1);
    transition: 100ms ease-in-out;
    
}

.currentPage{
    font-size: 2rem;
    width: 10rem;
    color: yellow;
}

.infoHeader{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    color: red;
    border-top-right-radius: 2rem;
    font-size: 3rem;
}
.infoSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;


   
}
.infoText{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0.5rem;

}
.infoText p{
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
    margin: 0.3rem;
    font-size: 150%;
    color: rgb(255, 49, 49);
    background-color: rgb(82, 82, 82);
    height: 100%;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 50%;

}

.planetInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 40%;
    background-color: rgb(64, 33, 165);
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-size: 125%;
    /*text-decoration: underline;*/
    margin-bottom: 2rem;
    color: rgb(243, 66, 211);
    border: 0.2rem outset rgb(243, 66, 211) ;
}
.planetInfo h2{
    text-decoration:underline
    
}
.planetInfo p{
    width: 100%;
    height: 100%;
    margin-left: 10%;
}
.loadingImage{
    width: 5rem;
    height: 5rem;
}